.row-buttons {
    margin: 5px;
}

.p-link a {
    /* font-weight: bold; */
    text-decoration: none;
    color: black;
}

#reaction-table td:nth-child(1) {
    width: 70px;
}

.spaceSpan {
    margin-right: 5px;
    font-size: 14px;
}

.smallClass {
    font-size: 12px;
}

.boldHeadings {
    margin-bottom: 2px;
    margin-left: 5px;
}

#result-output {
    width: 500px;
}

.small-text {
    font-size: 10px;
}

#connections-table {
    font-size: 14px;
}

#connections-table th:first-child,
#connections-table td:first-child {
    width: 60px;
    text-align: left;
}

#connections-table th {
    text-align: left;
}

.question-text {
    font-size: 12px;
}