* {
  font-size: 14px;
  font-family: Arial;
  line-height: 14px;
}

h1 {
  font-size: 24px;
}

p {
  margin: 2px;
  padding: 1px;
}

.shortresttext {
  font-size: 10px;
}

.difficulty-ratings,
.difficulty-ratings span {
  font-size: 10px;
}

.form-party-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-right: 15px;
}

.form-party-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding-right: 20px;
}

.form-party-row input {
  font-size: 18px;
  width: 50px;
}

.form-party-row .xpgainedforcurrent {
  width: 100px;
}


#encounter-add-form-1 {
  margin: 5px;
}

#encounter-add-form-2 {
  margin: 5px;
  margin-top: 10px;
}

#encounter-table td:nth-child(2) {
  width: 100px;
}

#encounter-table td:nth-child(3) {
  width: 40px;
}

#encounter-table td:nth-child(4) {
  width: 90px;
}

#encounter-table td:nth-child(9) {
  width: 50px;
}

#encounter-table td:nth-child(10) {
  width: 50px;
}

#group-table td:nth-child(1) {
  width: 60px;
}

.form-encounter {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-right: 15px;
  margin-top: 5px;
}

.form-encounter input {
  font-size: 18px;
  width: 50px;
}

.form-encounter #js-monster-cr-input {
  width: 70px;
}

.form-encounter .monster-name-input {
  width: 200px;
  font-size: 15px;
  height: 20px;
}

.form-encounter .form-row {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

.form-encounter .form-group {
  display: flex;
  align-items: left;
  flex-direction: column;
  margin-bottom: 10px;
  padding-right: 20px;
}

.form-encounter .monster-HP-input {
  width: 50px;
}

#resultsList {
  cursor: alias;
}