.p {
    margin: 0;
    padding: 0;
    line-height: 1;
}

.no-select {
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

/* Inputs */

.forms-level-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.forms-level-group {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}

#CRInput,
#LevelInput {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: button;
    width: 70px;
    font-size: 40px;
}


/* Dropdown */
.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
    background-color: #FFFFFF;
    z-index: 10;

}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
}

.dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
}

/* Container for the tables */
#tables-container {
    display: flex;
    gap: 15px;

}

/* Tables */
#table-treasures {
    width: 380px;
}

#table-items-gained {
    width: 350px;
}

#table-treasures th,
#table-treasures td,
#table-items-gained th,
#table-items-gained td {
    padding: 4px, 8px;
    text-align: left;
}


#table-treasure-hoard th {
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.label-treasure-rolls a {
    font-weight: bold;
    text-decoration: none;
    color: black;
}

/* Debugging: Visualize table boundaries (remove in production) */
#table-treasures {
    background-color: #f9f9f9;
}

#table-items-gained {
    background-color: #f9f9f9;
}

/* Treasure Tables */
#caption-individual-treasure,
#caption-treasure-hoard {
    font-style: italic;
}

#table-individual-treasure td:nth-child(1),
#table-individual-treasure th:nth-child(1) {
    width: 35%;
}

#table-individual-treasure td:nth-child(2),
#table-individual-treasure th:nth-child(2) {
    width: 65%;
}

#table-treasure-hoard td:nth-child(1),
#table-treasure-hoard th:nth-child(1) {
    width: 20%;
}

/* Items Table */
#table-items-gained th:nth-child(1),
#table-items-gained td:nth-child(1) {
    width: 12%;
}

#table-items-gained th:nth-child(2),
#table-items-gained td:nth-child(2) {
    width: 12%;
    text-align: center;
}

#table-items-gained th:nth-child(3),
#table-items-gained td:nth-child(3) {
    width: 12%;
    text-align: center;
}

#table-items-gained th:nth-child(4),
#table-items-gained td:nth-child(4) {
    width: 12%;
    text-align: center;
}

#table-items-gained th:nth-child(5),
#table-items-gained td:nth-child(5) {
    width: 12%;
    text-align: center;
}

#label-items-gained {
    font-style: italic;
}

#id-minor {
    position: relative;
    left: 40px;
}

#id-major {
    position: relative;
    left: 50px;
}

/* Results */
.treasure-text-results {
    margin-bottom: 10px;
    padding: 5px;
    border-bottom: 1px solid #ccc;
    width: 350px;
}

.treasure-split-text {
    padding-left: 10px;
    font-size: 14px;
}

.item-rarity-text {
    padding-left: 10px;
    font-size: 14px;
}

.item-type {
    padding-left: 10px;
    font-size: 14px;

    font-style: italic;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;

}