.p {
    margin: 0;
    padding: 0;
    line-height: 1;
}

#diceRollerHeader {
    margin: 2px;
    padding: 2px;
}

#plus-numeral {
    font-size: 30px;
    font-style: bold;
    margin-left: 10px;
    margin-right: 10px;
}

#diceNumberInput {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: button;
    width: 70px;
    font-size: 40px;
    margin: 2px;
    padding: 2px;
}

#diceAddInput {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: button;
    width: 70px;
    font-size: 40px;
}

.input-container {
    display: flex;
    align-items: center;
    /* Align the input and button container horizontally */
    /* margin: 5px; */
}

.button-container {
    display: flex;
    flex-direction: column;
    /* Stack buttons vertically */
    margin-left: 5px;
    /* Add space between input and buttons */
}

button.button {
    font-size: 1em;       /* Increases text size */
    padding: 5px 5px;     /* Adds extra padding around text */
    margin: 5px;            /* Adds spacing between buttons */
    border-radius: 5px;    /* Rounds the corners */
    cursor: pointer;        /* Makes it feel clickable */
}

button.button:hover {
    transform: scale(1.05);
    transition: 0.2s;
}


.ResultsClass {
    padding: 1px;
}