#p-fruit-size-desc {
    display: block;
    margin: 0;
    padding: 0;
    line-height: 1;
    /* Removes extra line spacing */
}

#fruit-pic {
    display: block;
    margin: 0;
    padding: 0;
}

#daysAfterh4 {
    font-size: 14px;
}

#weeksAfterText h4 {
    margin: 0;
    padding: 0;
}

#weeksAfterText p {
    margin-top: 0;
    padding: 0;
}